.header{
    background-color: #222;
    width: 100%;
    max-height: 100px;
    height: 100px;
}
.header-text{
    color: white;
    padding-left: 450px;
    padding-top: 2%;
    font-size: xx-large
}